{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Merhaba {{ user.username }},</h2>
    <p>Web sitemize kaydolduğunuz için teşekkür ederiz! Kaydınızı tamamlamak için lütfen aşağıdaki bağlantıya tıklayarak
        e-posta adresinizi onaylayın.</p>
    <a href="http://{{ domain }}{% url 'account:activate' uidb64=uid token=token %}" class="btn btn-primary">Mail
        adresimi onayla</a>
    <p>Bu talebi siz yapmadıysanız, lütfen bu e-postayı dikkate almayın.</p>
    <p>İyi günler,</p>
    <p>lilyumGAN</p>
</div>
{% endblock %}