@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

body {
    background-color: #222 !important;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.card {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
}


.card-body>h5.card-title {
    margin-bottom: 0.5rem;
}

.card-body>p.card-text {
    margin-bottom: 0.5rem;
}

.card-title,
.card-text,
h1.mt-4 {
    color: #fff !important;
}

.image-card {
    height: 100%;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.image-item {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.image-card:hover .delete-button {
    display: block;
}

.custom-form-control {
    font-size: 12px;
    height: 30px;
    padding: 0.25rem 0.5rem;
    width: 200px;
}

.frame {
    position: absolute;
    top: 50%;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(to top right, darkmagenta 0%, hotpink 100%);
    color: #333;
    transform: translate(-50%, -50%);
}

.center {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 260px;
    border-radius: 3px;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.title {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
    text-align: center;

}


.title h1 {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;

}

.style-description {
    margin-bottom: 20px;
}

.style-description label {
    color: #ffffff;
    font-size: 16px;
    margin-right: 10px;
}

.style-select {
    background-color: #f6d9e2;
    color: #333;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    width: 200px;
    max-width: 100%;
}

.hot-pink {
    color: hotpink;
}

.sidebar .nav-link {
    color: white;
}

.dropzone {
    position: relative;
    width: 210px;
    height: 210px;
    border: 3px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;

}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.upload-icon {
    width: 180px;
    height: 180px;
    margin-bottom: 10px;

}

.upload-text {
    font-size: 16px;

}

.upload-input {
    display: none;
}

/*   
.upload-icon {
    margin: 25px 2px 2px 2px;
} */

.upload-input {
    position: relative;
    top: -62px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.upload-button-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.btn {
    display: block;
    width: 140px;
    height: 40px;
    background: darkmagenta;
    color: #fff;
    border-radius: 15px;
    border: 0;
    /*box-shadow: 0 3px 0 0 hotpink;*/
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    margin: 0 auto;

}


.btn:hover {
    background: rebeccapurple;
    box-shadow: 0 3px 0 0 deeppink;
    color: #fff;

}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #ab0091;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-top: 50px;
    margin-left: 20px;
    /* Adjust this value to fine-tune the positioning */
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    /* Add this line to center the text */
}

.custom-image {
    height: 200px;
    width: auto;
}

.custom-message {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}