{% extends "base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title">Şifre Değişikliği Tamamlandı</h3>
                </div>
                <div class="card-body">
                    <p class="card-text text-white">
                        Şifreniz değiştirildi. Artık <a href="{% url 'account_login' %}" class="text-white">login</a>
                        kullanarak yeni şifrenizle giriş yapabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}