{% extends "base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Password Reset Complete</h3>
            </div>
            <div class="card-body">
                <p>Your password has been successfully changed. You can now <a
                        href="{% url 'account_login' %}">login</a> with your new password.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}