{% extends "base.html" %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white">
                <div class="card-header bg-primary">
                    <h3 class="card-title">Şifre yenileme maili gönderildi</h3>
                </div>
                <div class="card-body">
                    <p>E-posta adresinize, şifrenizi sıfırlamak için daha fazla talimat içeren bir e-posta gönderildi.
                        Lütfen gelen kutunuzu kontrol edin ve verilen talimatları izleyin.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}