{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Hesap Aktivasyonu Başarısız
                </div>
                <div class="card-body">
                    <h2 class="card-title text-white">Hesap Aktivasyonu Başarısız</h2>
                    <p class="card-text text-white">
                        Üzgünüz, hesap aktivasyonu işlemi başarısız oldu. Lütfen bağlantınızı kontrol edin ve tekrar
                        deneyin.
                    </p>
                    <p class="card-text text-white">
                        Eğer sorun devam ederse, lütfen destek ile iletişime geçin.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}