{% extends "base.html" %}
{% load static %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kaydol</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Kullanıcı Adı</label>
                        <input type="text" name="username" class="form-control" required
                            value="{{ form.username.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="email">Eposta</label>
                        <input type="email" name="email" class="form-control" required
                            value="{{ form.email.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="password1">Şifre</label>
                        <input type="password" name="password1" class="form-control" required
                            value="{{ form.password1.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="password2">Şifreyi Onaylayın</label>
                        <input type="password" name="password2" class="form-control" required
                            value="{{ form.password2.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="kvkk_accept" id="kvkk-accept"
                                required>
                            <label class="form-check-label" for="kvkk-accept">
                                <a href="{% url 'kvkk' %}" target="_blank" class="purple-link">Kişisel Verileri
                                    Koruma Kanunu</a>'nu kabul ediyorum.
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydol</button>

                    <!-- {% if messages %}
                    <div class="card bg-danger text-white mt-3">
                        <div class="card-body{% if not messages %} d-none{% endif %}">
                            {% for message in messages %}
                            {% if not "You have signed out" in message.message %}
                            <li>{{ message }}</li>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                -->
                </form>
                {% if error %}
                <div class="alert alert-danger mt-3">{{ error }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}